<% layout('layout_mob') -%>

<form name="main_form" method="post" action="/scr/mob821" data-ajax="false">

  <div data-role="content">

    <div>
      <% if( step=="1" ) { %>
        <div data-role="fieldcontain" data-mini="true">
        <label for="sel1_txt_821" style="width:40%;">会員番号:</label>
        <input type="text" name="sel1" id="sel1_txt_821" style="width:50%;" value="<%= text.txt1 %>" readonly />
        </div>
      <% } else { %>
      <fieldset data-role="controlgroup">
        <legend>会員番号</legend>
        <label for="sel1_821">会員番号</label>
        <select name="sel1" id="sel1_821">
          <option value=""></option><!--dmy-->
          <% for (var i=0,max=select.opt1.length; i < max; i++ ) { %>
          <option value="<%= select.opt1[i].value %>" <%= select.opt1[i].selected %>>
            <%= select.opt1[i].dsp %>
          </option>
          <% } %>
        </select>
      </fieldset>
      <% } %>
    </div>

    <% if( step=="1" ) { %>


    <div data-role="collapsible-set"> 
      <% for (var i = 0, max = table.tab2.length; i < max; i++) { %>
        <% if (table.tab2[i].chk1.exist == "1") { %>
          <fieldset data-role="controlgroup">
            <input type="checkbox" name="tab2_chk" id="tab2_chk_<%= table.tab2[i].chk1.val %>" class="custom" 
                   value="<%= table.tab2[i].chk1.val %>" <%= table.tab2[i].chk1.on %> />
            <label for="tab2_chk_<%= table.tab2[i].chk1.val %>">
              <div class="ui-grid-a">
                <div class="ui-block-a"><%= table.tab2[i].col1 %></div>
                <div class="ui-block-b"><%= table.tab2[i].col2 %></div>
              </div>
              <div class="ui-grid-a">
                <div class="ui-block-a"><%= table.tab2[i].col3 %></div>
              </div>
            </label>
            <div data-role="collapsible" data-collapsed="true">
              <h3>詳細</h3>
              <% for (var j = 0, max2 = table.tab2[i].tab3.length; j < max2; j++) { %>
                <div class="ui-grid-b">
                  <div class="ui-block-a"><%= table.tab2[i].tab3[j].col1 %></div>
                  <div class="ui-block-b" style="width:50%;"><%= table.tab2[i].tab3[j].col3 %></div>
                  <div class="ui-block-c" style="width:10%;text-align:right;"><%= table.tab2[i].tab3[j].col5 %></div>
                </div>
              <% } /* for */ %>
            </div>
          </fieldset>
        <% } /* if */ %>
      <% } /* for */ %>
    </div>

    <% } %>

    <div data-role="controlgroup">
      <% if( step=="0" ) { %>
      <input type="submit" name="send_iqy" data-theme="b" value="表示"/>
      <% } %>
      <% if( step=="1" ) { %>
      <input type="submit" name="send_add" data-theme="a" value="出庫 確定" />
      <input type="submit" name="send_del" data-theme="c" value="キャンセル" />
      <% } %>
    </div> 

  </div><!--content-->

</form>
