<% layout('layout') -%>
<%- stylesheet('/stylesheets/cstm/113.css') -%>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect("/scr/113");

socket.on("changeTana", function (jdata) {
    var adr = jdata.id;
    if( jdata.stat=="1" ) {
        document.getElementById(adr).className = document.getElementById(adr).className.replace(/off/g,"on");
    } else {
        document.getElementById(adr).className = document.getElementById(adr).className.replace(/on/g,"off");
    }
    //document.getElementById("debug").innerHTML += jdata.id+"<br>";
});
var sock = function( my ) {
    socket.emit(my.name,{"d1":"test","d2":"空棚","d3":"01-02-03"});
}
</script>

<script type="text/javascript" src="/javascripts/fredhq-roundabout-c1bcd37/jquery.roundabout.min.js"></script>
<script type="text/javascript" src="/javascripts/fredhq-roundabout-c1bcd37/jquery.roundabout-shapes.min.js"></script>

<script type="text/javascript">
var activ_row = <%= activ_row %>;
var MAX_ROW = <%= location.row.length-1 %>;
$(document).ready( function() {
    $('ul.roundabout113').roundabout({
        /*形状*/
        "shape":"tearDrop",
        //"shape":"square"
        //"shape":"waterWheel"

        /* options */
        "minOpacity": 0.2, /*背後のパネルの透明度(0.4)*/
        "maxOpacity": 1.0, /*全面のパネルの透明度(1.0)*/
        "minScale": 0.4, /*背後のパネルの縮小度(0.4)*/
        "maxScale": 1.0, /*全面のパネルの縮小度(1.0)*/
        "duration": 1000, /*回転速度(600)*/

        /*初期のパネル*/
        "startingChild": <%= activ_row-1 %>
    });
    $('ul.roundabout113_2').roundabout({
        //"shape":"square"
        "shape":"waterWheel"
        //"shape":"tearDrop"
    });
});
var moving=0;
var move_round = function( my ) {
    if(moving) return;
    moving=1;
    var now_id = 'dp'+('00'+activ_row).slice(-2);
    var activ_id;
    if( my.name=="move_left" ) {
        /*1進む*/
        activ_row = (activ_row % MAX_ROW) +1;
        activ_id = 'dp'+('00'+activ_row).slice(-2);
        document.getElementById(now_id).className = "hide";
        $('ul.roundabout113').roundabout("animateToNextChild",function(){
            document.getElementById(activ_id).className = "actv";
            moving=0;
        });
    } else if( my.name=="move_right" ) {
        /*1戻る*/
        activ_row = (activ_row+MAX_ROW-1) % MAX_ROW;
        if( !activ_row ) activ_row=MAX_ROW;
        activ_id = 'dp'+('00'+activ_row).slice(-2);
        document.getElementById(now_id).className = "hide";
        $('ul.roundabout113').roundabout("animateToPreviousChild",function(){
            document.getElementById(activ_id).className = "actv";
            moving=0;
        });
    }
    document.getElementById("txt1").value = activ_row;
}
</script>

<form name="main_form" method="post" action="/scr/113">

  <div id="sub_body">
    <p class=""><a href="#"><%= pageTags.caption %></a></p>
    <ul>
      <% if( step=="0" || step=="1" ) { %>
      <li><input type="submit" name="send_iqy" value="<%= pageTags.send_iqy %>"></li>
      <% } %>
      <% if( step=="99" || step=="99" ) { %>
      <li><input type="button" class="send" name="sock_iqy" value="<%= pageTags.sock_iqy %>" onclick="sock(this)"></li>
      <% } %>
      <% if( step=="0" || step=="1" ) { %>
      <li><input type="button" class="send" name="move_left" value="<%= pageTags.move_left %>" onclick="move_round(this)"></li>
      <% } %>
      <% if( step=="0" || step=="1" ) { %>
      <li><input type="button" class="send" name="move_right" value="<%= pageTags.move_right %>" onclick="move_round(this)"></li>
      <% } %>
    </ul>
  </div>

  <div id="main_body">
    <div class="mesg_bar">
      <span class="<%= mesg_level_color %>"><%= mesg %></span>
    </div>

    <div class="cond113">
      <ul>
        <% if( step=="0" || step=="1" ) { %>
        <li class="l1">
          <label for="txt1"><%= pageTags.cond_location %></label>
          <input type="text" id="txt1" class="" size="8" maxlength="8" 
                 placeholder="" name="txt1" 
                 value="<%= text.txt1 %>" tabindex="-1">
        </li>
        <% } %>
      </ul>
    </div>

    <br class="dmy_spc">

  </div>

  <div id="round_main">
    <ul class="roundabout113">
      <% for (var row=1, row_max=location.row.length-1; row<=row_max; row++) { %>
        <li>
          <span><%= row %></span>
          <% if (row==activ_row) { %>
          <span id="<%= 'dp'+('00'+row).slice(-2) %>" class="actv">
          <% } else { %>
          <span id="<%= 'dp'+('00'+row).slice(-2) %>" class="hide">
          <% } %>
            <% for (var tie=1, tie_max=location.row[row].tie.length-1; tie<=tie_max; tie++) { %>
              <p class="<%= 't' + ('00'+tie).slice(-2) %>">
                <% for (var bay=1, bay_max=location.row[row].tie[tie].bay.length-1; bay<=bay_max; bay++) { %>
                  <q class="<%= 'b' + ('00'+bay).slice(-2) %> 
                    <% if (location.row[row].tie[tie].bay[bay].status=="1") { %>
                      on
                    <% } else if (location.row[row].tie[tie].bay[bay].status=="0") { %>
                      off
                    <% } else { %>
                      none
                    <% } %>
                      " id="<%= location.row[row].tie[tie].bay[bay].locid %>">
                  </q>
                <% } %>
              </p>
            <% } %>
          </span>
        </li>
      <% } %>
    </ul>
  </div>

  <div id="debug"></div>
</form>

