<% layout('layout') -%>

<form name="main_form" method="post" action="/scr/201">
<input type="hidden" name="dspcstm" value="<%= dspcstm_val %>">

  <div id="sub_body">
    <p class="<%= dspcstm['corp'] %>"><a href="#">法人会員様</a></p>
    <p class="<%= dspcstm['priv'] %>"><a href="#">個人会員様</a></p>
    <p class="<%= dspcstm['vist'] %>"><a href="#">ビジター様</a></p>
    <ul>
      <li><input type="submit" class="send" name="QRY" value="在庫検索"><li>
      <li><input type="submit" class="send" name="SEL" value="在庫選択"><li>
      <li><input type="submit" class="send" name="ADD" value="予約登録"><li>
      <li><input type="submit" class="send" name="MOD" value="変更" disabled="disabled"><li>
      <li><input type="submit" class="send" name="DEL" value="削除" disabled="disabled"><li>
    </ul>
  </div>

  <div id="main_body">
    <div class="mesg_bar">
      <span class="= mesg_level_color "><%= mesg %></span>
    </div>

    <table class="cond201">
      <colgroup>
        <col span="1" class="c1">
        <col span="1" class="c2">
        <col span="1" class="c3">
        <col span="1" class="c4">
        <tr>
          <th>会員番号</th>
          <td colspan="3">
            <INPUT type="text" class="STYLE_PCOD" size="8" placeholder="Necessity"
              maxlength="8" name="id_user" value="" tabindex = "11">
          </td>
        </tr>
        <tr>
          <th>会員名</th>
          <td colspan="3">
            <INPUT type="text" class="STYLE_PNAM" size="10" placeholder="Necessity"
              maxlength="10" name="nickname" value="" tabindex = "12">
          </td>
        </tr>
    </table>

    <br/>

    <table class="list201">
      <colgroup>
        <col span="1" class="c1">
        <col span="1" class="c2">
        <col span="1" class="c3">
        <col span="1" class="c4">
        <col span="1" class="c5">
        <col span="1" class="c6">
        <col span="1" class="c7">
        <thead>
        <tr>
          <th></th>
          <th>会員番号</th>
          <th>会員名</th>
          <th>保管アドレス</th>
          <th>タグNo</th>
          <th>預け入れ期間</th>
          <th>備考</th>
        </tr>
        </thead>

<script>
var dataSet = function(x) {
    var ary = x.value.split(',');
    main_form.pcode.value = ary[0];
    main_form.sqty.value = ary[1];
    main_form.pnam.value = ary[2];
    main_form.lotn.value = ary[3];
    main_form.mem1.value = ary[4];
    main_form.mem2.value = ary[5];
    main_form.mem3.value = ary[6];
}
</script>

        <tbody>
        <% for (var i = 0, max = pageNavi.tab.length; i < max; i++) { %>
        <tr>
          <td>
            <% if (pageNavi.tab[i].reserved == '1') { %>
              <input type='radio' name='rdo01' value='<%= pageNavi.tab[i].radiodata %>' onclick='dataSet(this);' checked > 
            <% } else { %>
              <input type='radio' name='rdo01' value='<%= pageNavi.tab[i].radiodata %>' onclick='dataSet(this);'> 
            <% } %>
          </td>
<TD><%= pageNavi.tab[i].id_user %></TD>
<TD><%= pageNavi.tab[i].nickname %></TD>
<TD><%= pageNavi.tab[i].address %></TD>
<TD><%= pageNavi.tab[i].id_stock %></TD>
<TD><%= pageNavi.tab[i].period %></TD>
<TD><%= pageNavi.tab[i].remark %></TD>
        </tr>
        <% } %>
        </tbody>
    </table>

    <table class="cond201">
      <colgroup>
        <col span="1" class="c1">
        <col span="1" class="c2">
        <col span="1" class="c3">
        <col span="1" class="c4">
        <tr>
          <th>保管アドレス</th>
          <td colspan="1">
            <INPUT type="text" id="pcod" class="STYLE_PCOD" size="8" placeholder="数字"
              maxlength="8" name="pcode" id="pcod" value="" tabindex = "11">
          </td>
          <th>数量</th>
          <td>
            <INPUT  type="text" class="STYLE_QNTY" placeholder="数字"
              size="6" maxlength="6" name="quantity" value="" tabindex = "14">
          </td>
        </tr>

        <tr>
          <th>品名コード</th>
          <td>
            <select name="sel1">
              <option value=""></option><!--dmy-->
              
                <option value="12" xxx>
                  家電
                </option>
              
                <option value="123" xxx>
                  書類
                </option>
              
                <option value="123456" xxx>
                  ケース混載
                </option>
              
                <option value="2" xxx>
                  衣類
                </option>
              
                </td>              
            </select>
  
        </tr>

        <tr>
          <th> 預け入れ期間(月単位)</th>
          <td>
            <INPUT type="text" class="STYLE_QNTY" size="4" placeholder="数字"
              maxlength="4" name="period" id="period" value="" tabindex = "13">
          </td>
        </tr>

        <tr>
          <th>備考</th>
          <td>
            <INPUT type="text" id="smm2" class="STYLE_SMM" size="40" placeholder="option"
              maxlength="40" name="remark" value="" tabindex = "16">
          </td>
          </tr>
    </table>



  </div>
</form>
