<!--
<header id="header">
	<h1 id="siteID"><a href="#">MdN Card</a></h1>
	<ul id="userInfo">
		<li>こんにちは<b>山田敬美</b>さん（<a href="#">ログアウト</a>）</li>
		<li>前回ログイン日時：2011年12月25日</li>
	</ul>
	<ul id="utilityNav">
		<li><a href="#">ヘルプ</a></li>
		<li><a href="#">お問い合わせ</a></li>
	</ul>
	<nav id="mainNav">
		<ul>
			<li><a href="#">トップ</a></li>
			<li><a href="#">ご利用明細</a></li>
			<li><a href="#">ご利用可能額</a></li>
			<li><a href="#">キャッシング</a></li>
			<li><a href="#">お客様情報</a></li>
		</ul>
	</nav>
</header>
-->
<section id="contents_rpt">
	<div class="lead">
		<h1>在庫明細</h1>
		<p>確定済みの明細をご確認いただけます。</p>
	</div>
<section class="detailList">
		<h2>2012年1月25日締め在庫明細</h2>
		<table>
			<thead>
				<tr>
					<th>入庫日</th>
					<th>品名</th>
					<th>部品番号</th>
					<th>注文番号</th>
					<th>メモ</th>
					<th>数量</th>

				</tr>
			</thead>
			<tbody>
			  <tr>
			    <% var sum=0 %>
			  <% for (var i = 0; i < tab.length; i++) { %>
			     <TD><%= tab[i].date %></TD>
			     <TD><%= tab[i].pname %></TD>
			     <TD><%= tab[i].pcode %></TD>
			     <TD><%= tab[i].odno %></TD>
			     <TD><%= tab[i].mem1 %></TD>
			     <TD><%= tab[i].sqty %></TD>
			     <% sum += tab[i].sqty %>
			  </TR>   
			  <% } %>

			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">合計</td>
					<td><%= sum %></td>

				</tr>
			</tfoot>
		</table>
	</section>
</section>


</body>
</html>
