<% layout('layout_seq') -%>
<%- stylesheet('/stylesheets/cstm/901.css') -%>

<script type="text/javascript" src="/javascripts/rcs/libsocket.js"></script>
<script type="text/javascript">
var socket = io.connect("/error");
sockEventShowError(socket);

var socket910 = io.connect("/scr/910");

socket910.on("message_bar", function (data) {
    err = document.getElementById("mesg_bar");
    err.className = "mesg_bar " + data.color;
    err.innerText = data.mesg;
    /*
    debugtxt = document.getElementById("debugtxt");
    if( typeof data==="object" ) {
        for( var key in data ) {
            debugtxt.innerHTML += (data[key]+"<br>");
        }
    }else{
        debugtxt.innerHTML += data;
    }
    */
});

socket910.on("Heartbeat", function (data) {
    reg = document.getElementById("D0000");
    reg.innerText = ('0000'+data.D0000.toString(16).toUpperCase()).slice(-4);
});

socket910.on("regChange", function (data) {
    reg = document.getElementById(data.reg);
    reg.innerText = ('0000'+data.val.toString(16).toUpperCase()).slice(-4);

    if (document.getElementById("recv_dreg").innerHTML == data.reg) {
        document.getElementById("recv_dreg_val16").innerHTML = reg.innerHTML;
        document.getElementById("recv_dreg_val10").innerHTML = parseInt(reg.innerHTML,16);
        document.getElementById("recv_dreg_val2").innerHTML = 
            ('0000000000000000' + parseInt(reg.innerHTML,16).toString(2)).slice(-16);
    }
});
socket910.on("vupdateRegOne", function (data) {
        var regTop = parseInt(data.regTop, 10);
        var regVal = parseInt(data.regVal, 16);
        var reg = document.getElementById(data.regDnum);
        reg.innerText = ('0000'+regVal.toString(16).toUpperCase()).slice(-4);
        });
socket910.on("vupdateRegs", function (data) {
        var regNum = parseInt(data.regNum,10);
        var regTop = parseInt(data.regTop, 10);
        var d = 0;
        for (var i = 0, k = 0; i < regNum; i++, k += 4) {
            regVal = parseInt(data.regVal.slice(k, k+4), 16);
            d = i + regTop;
            reg = document.getElementById('D' + ('0000' + d).slice(-4));
            reg.innerText = ('0000'+regVal.toString(16).toUpperCase()).slice(-4);
        }
        });


var recvOn = function(my) {
    if (my.className == "selected") {
        document.getElementById("recv_dreg").innerHTML = "";
        document.getElementById("recv_dreg_val16").innerHTML = "";
        document.getElementById("recv_dreg_val10").innerHTML = "";
        document.getElementById("recv_dreg_val2").innerHTML = "";
    } else {
        document.getElementById("recv_dreg").innerHTML = my.id;
        document.getElementById("recv_dreg_val16").innerHTML = my.innerHTML;
        document.getElementById("recv_dreg_val10").innerHTML = parseInt(my.innerHTML,16);
        document.getElementById("recv_dreg_val2").innerHTML = 
            ('0000000000000000' + parseInt(my.innerHTML,16).toString(2)).slice(-16);
    }
    searchDreg("recv_reg",document.getElementById("recv_dreg").innerHTML);
}

var sendOn = function(my) {
    if (my.className == "selected") {
        /* cancel */
        document.getElementById("send_dreg").value = "";
        document.getElementById("send_dreg_value").value = "";
    } else {
        document.getElementById("send_dreg").value = my.id;
        if (document.getElementById("radix_bin").checked) {
            document.getElementById("send_dreg_value").value = 
                ('0000000000000000' + parseInt(my.innerHTML,16).toString(2)).slice(-16);
        } else if (document.getElementById("radix_dec").checked) {
            document.getElementById("send_dreg_value").value = parseInt(my.innerHTML,16);
        } else if (document.getElementById("radix_hex").checked) {
            document.getElementById("send_dreg_value").value = my.innerHTML;
        } else {
            document.getElementById("radix_hex").checked = true;
            document.getElementById("send_dreg_value").value = my.innerHTML;
        }
    }
    searchDreg("send_reg",document.getElementById("send_dreg").value);
}

var radixChange = function(my) {
    //debugtxt = document.getElementById("debugtxt");
    //debugtxt.innerHTML += dreg + "<br>";

    var dreg = document.getElementById("send_dreg").value;
    if (!dreg) {
        document.getElementById("send_dreg_value").value = "";
        return;
    }
    var dreg_val_hex = document.getElementById(dreg).innerHTML;
    if (!dreg_val_hex) {
        document.getElementById("send_dreg_value").value = "";
        return;
    }
    switch (my.id) {
        case "radix_bin":
            document.getElementById("send_dreg_value").value = 
                ('0000000000000000' + parseInt(dreg_val_hex,16).toString(2)).slice(-16);
            break;
        case "radix_dec":
            document.getElementById("send_dreg_value").value = parseInt(dreg_val_hex,16);
            break;
        case "radix_hex":
            document.getElementById("send_dreg_value").value = dreg_val_hex;
            break;
        default:
            document.getElementById("send_dreg_value").value = "";
    }
}

/*
 *  D-register から対象のアドレスを探して背景を黒くする
 */
var searchDreg = function(func,dreg) {

    var target = document.getElementById(func).childNodes;
    for ( var i=0; i < target.length; i++) {
        if (target[i].nodeName === 'TABLE') {
            var columns = target[i].getElementsByTagName("td");
            for ( var j=0; j < columns.length; j++) {
                if (columns[j].id == dreg) {
                    if (columns[j].className == "selected") {
                        columns[j].className = "";
                    } else {
                        columns[j].className = "selected";
                    }
                } else {
                    columns[j].className = "";
                }
            }
            break;
        }
    } 
}

</script>

<form name="main_form" method="post" action="/scr/910">
  <input type="hidden" name="clientID" id="clientID" value="" />
  <input type="hidden" name="nameSpace" id="nameSpace" value="" />

  <div id="sub_body">
    <input type="submit" name="send_iqy" value="表示" />

    <span>ポート番号</span>
    <input type="text" name="port" id="port" value="<%= text.port %>" maxlength="5"
    <% if (step=='1') { %>
    readonly
    <% } %>
    />

    <% if (step=='0') { %>
    <input type="submit" name="send_conn" value="接続" />
    <% } %>

    <% if (step=='1') { %>
    <input type="submit" name="send_disconn" value="切断" />
    <% } %>

    <input type="submit" name="send_end" value="終了" />

    <fieldset>
        <legend>受信レジスタ</legend>
        <p>レジスタ:<span id="recv_dreg"></span></p>
        <p>２進:<span id="recv_dreg_val2"></span></p>
        <p>１０進:<span id="recv_dreg_val10"></span></p>
        <p>１６進:<span id="recv_dreg_val16"></span></p>
    </fieldset>

    <fieldset>
        <legend>送信レジスタ</legend>
        <p>レジスタ:<input type="text" name="send_dreg" id="send_dreg" value="" readonly></p>
        <p>２進:<input type="radio" name="radix" id="radix_bin" value="2" onclick="radixChange(this)"></p>
        <p>１０進:<input type="radio" name="radix" id="radix_dec" value="10" onclick="radixChange(this)"></p>
        <p>１６進:<input type="radio" name="radix" id="radix_hex" value="16" onclick="radixChange(this)"></p>
        <p><input type="text" name="send_dreg_value" id="send_dreg_value" maxlength="16" value=""></p>
      <p> <input type="submit" name="send_regset" value="設定" /></p>
    </fieldset>

  </div>

  <div id="main_body">
    <div id="mesg_bar" class="mesg_bar <%= mesg_level_color %>"><%= mesg %></div>

    <div id="reg">
      <div id="recv_reg">
        <div class="caption">受信レジスタ</div>
        <table>
          <tr>
            <th></th>
            <% for(var j = 0, jmax = 10; j < jmax; j++) { %>
            <th><%= j %></td>
            <% } /*D-reg 1 loop */ %>
          </tr>
          <% for(var i = 0, imax = table.recv.length; i < imax; i++) { %>
          <tr>
            <th><%= 'D'+('0000' + table.recv[i].Dreg10 * 10).slice(-4) %></th>
            <% for(var j = 0, jmax = table.recv[i].Dreg1.length; j < jmax && j < 10; j++) { %>
            <td id="<%= 'D'+('0000' + (table.recv[i].Dreg10 * 10 + j)).slice(-4) %>" onclick="recvOn(this)">
              <%= ('0000'+table.recv[i].Dreg1[j].toString(16).toUpperCase()).slice(-4) %></td>
            <% } /*D-reg 1 loop */ %>
          </tr>
          <% } /* D-reg loop */ %>
        </table>
      </div>

      <div id="send_reg">
        <div class="caption">送信レジスタ</div>
        <table>
          <tr>
            <th></th>
            <% for(var j = 0, jmax = 10; j < jmax; j++) { %>
            <th><%= j %></td>
            <% } /*D-reg 1 loop */ %>
          </tr>
          <% for(var i = 0, imax = table.send.length; i < imax; i++) { %>
          <tr>
            <th><%= 'D'+('0000'+table.send[i].Dreg10*10).slice(-4) %></th>
            <% for(var j = 0, jmax = table.send[i].Dreg1.length; j < jmax && j < 10; j++) { %>
            <td id="<%= 'D'+('0000' + (table.send[i].Dreg10 * 10 + j)).slice(-4) %>" onclick="sendOn(this)">
              <%= ('0000'+table.send[i].Dreg1[j].toString(16).toUpperCase()).slice(-4) %></td>
            <% } /*D-reg 1 loop */ %>
          </tr>
          <% } /* D-reg loop */ %>
        </table>

      </div>
    </div>

  </div>

</form>

<div id="debugtxt"></div>
