<% layout('layout') -%>

<form name="main_form" method="post" action="/scr/301">

  <div id="sub_body">
    <!--p class=""><a href="#">法人会員様</a></p-->
    <ul>
      <li><input type="submit" class="send" name="send_iqy" value="最新表示"><li>
      <li><input type="submit" class="send" name="send_add" value="開始"><li>
      <li class="hidden"><input type="submit" class="send" name="send_del" value="中断"><li>
      <li class="hidden"><input type="submit" class="send" name="send_prn" value="出庫指示書印刷"><li>
    </ul>
  </div>

  <div id="main_body">
    <div class="mesg_bar">
      <span class="<%= mesg_level_color %>"><%= mesg %></span>
    </div>

    <table class="cond301">
      <colgroup>
        <col span="1" class="c1">
        <col span="1" class="c2">
        <col span="1" class="c3">
        <col span="1" class="c4">
        <col span="1" class="c5">
        <tr>
          <th>テキスト</th>
          <td>
            <INPUT type="text" id="txt1" class="" size="20" maxlength="20" 
              placeholder="前方一致" name="txt1" 
              value="<%= text.txt1 %>" tabindex = "-1">
          </td>
          <th>チェック</th>
          <td>
            <INPUT type="checkbox" id="c1" class="" name="chk1" value="c1" 
              <%= checkbox.chk1['c1'] %>>Ｃ１
            <INPUT type="checkbox" id="c1" class="" name="chk1" value="c2" 
              <%= checkbox.chk1['c2'] %>>Ｃ２
            <INPUT type="checkbox" id="c1" class="" name="chk1" value="c3" 
              <%= checkbox.chk1['c3'] %>>Ｃ３
          </td>
        </tr>
        <tr>
          <th>リストＢＯＸ</th>
          <td>
            <select name="sel1">
              <option value=""></option><!--dmy-->
              <% for (var i=0,max=select.opt1.length; i < max; i++ ) { %>
                <option value="<%= select.opt1[i].value %>" <%= select.opt1[i].selected %>>
                  <%= select.opt1[i].dsp %>
                </option>
              <% } %>
            </select>
          </td>
          <th></th>
          <td></td>
        </tr>
    </table>

    <table class="list301">
      <colgroup>
        <col span="1" class="c21">
        <col span="1" class="c22">
        <col span="1" class="c23">
        <col span="1" class="c24">
        <col span="1" class="c25">
        <col span="1" class="c26">
        <col span="1" class="c27">
        <col span="1" class="c28">
        <thead>
        <tr>
          <th></th>
          <th>会員番号</th>
          <th>搬入数量</th>
          <th>ロッカーNo</th>
          <th>タグNo</th>
          <th>預け入れ期間</th>
          <th>特記事項</th>
          <th>お客様メモ</th>
        </tr>
        </thead>

        <tbody>
        <% for (var i = 0, max = table.tab1.length; i < max; i++) { %>
        <tr>
          <td>
          <% if (table.tab1[i].chk1.exist == "1") { %>
            <input type='checkbox' name='tab1_chk' 
              value='<%= table.tab1[i].chk1.value %>' <%= table.tab1[i].chk1.on %>> 
          <% } %>
          </td>
          <td><%= table.tab1[i].col1 %></td>
          <td><%= table.tab1[i].col2 %></td>
          <td><%= table.tab1[i].col3 %></td>
          <td><%= table.tab1[i].col4 %></td>
          <td><%= table.tab1[i].col5 %></td>
          <td><%= table.tab1[i].col6 %></td>
          <td><%= table.tab1[i].col7 %></td>
        </tr>
        <% } %>
        </tbody>
    </table>

    <table class="list301 mgnS">
      <caption>ＣＡＰ:<%= table.tab2_head.key1 %></caption>
      <colgroup>
        <col span="1" class="c11">
        <col span="1" class="c12">
        <col span="1" class="c13">
        <col span="1" class="c14">
        <col span="1" class="c15">
        <col span="1" class="c16">
        <tr>
          <th>ロッカーNo</th>
          <th>タグNo</th>
          <th>預け入れ期間</th>
          <th>特記事項</th>
          <th>お客様メモ</th>
          <th>料金</th>
        </tr>

        <tbody>
        <% for (var i = 0, max = table.tab2.length; i < max; i++) { %>
        <tr>
          <td><%= table.tab2[i].col1 %></td>
          <td><%= table.tab2[i].col2 %></td>
          <td><%= table.tab2[i].col3 %></td>
          <td><%= table.tab2[i].col4 %></td>
          <td><%= table.tab2[i].col5 %></td>
          <td><%= table.tab2[i].col6 %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
  </div>

</form>
