<section id="contents_rpt">
	<div class="lead">
		<h1>顾客号码 C20120001</h1>
		<p>确定的详细能确认</p>
	</div>
<section class="detailList">
		<h2>2012年1月25日勒紧库存详细</h2>
		<table>
			<thead>
				<tr>
					<th>接待日</th>
					<th>橱柜号码</th>
					<th>标签号码</th>
					<th>储蓄期(日)</th>
					<th>笔记</th>
					<th>数量</th>

				</tr>
			</thead>
			<tbody>
			  <tr>
			    <% var sum=0 %>
			  <% for (var i = 0; i < tab.length; i++) { %>
			     <TD><%= tab[i].date %></TD>
			     <TD><%= tab[i].pname %></TD>
			     <TD><%= tab[i].pcode %></TD>
			     <TD align=center><%= tab[i].odno %></TD>
			     <TD><%= tab[i].mem1 %></TD>
			     <TD align=right><%= tab[i].sqty %></TD>
			     <% sum += parseInt(tab[i].sqty) %>
			  </TR>   
			  <% } %>

			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">共计</td>
					<td><%= sum %></td>

				</tr>
			</tfoot>
		</table>
	</section>
</section>


</body>
</html>
