<% if (socket_io_start == "1") { %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect();
socket.on("scr301_info", function (html) { 
    document.getElementById("step_info").innerHTML += html;
});
</script>
<% } %>

<div id="contents">

    <div id="mainx">
    <form name="main_form" method="post" action="/scr/301" class="regist3">
        <section id="mailTray">
            <h1>CheckOut</h1>
            <div id="operationPanel">
            <span class="<%= mesg_level_color %>"><%= mesg %></span>
            </div><!-- operationPanel -->
        </section> <!-- mailTray -->

        <div id="ordrList">
            <table border="0">
              <col width="110" align="center">
              <col width="285" align="left">
              <col width="110" align="center">
              <col width="" align="left">
              <tr>
                <th>Order No</th>
                <td>
                  <INPUT type="text" id="ordr" class="STYLE_ORDR" size="20" maxlength="20" 
                   placeholder="prefix search" name="ordr" 
                   value="<%= text.ordr %>" tabindex = "-1">
                </td>
                <th>Condition</th>
                <td>
                  <INPUT type="checkbox" id="c1" class="" name="chk1" value="1" 
                   <%= checkbox.chk1['1'] %>>preinitiation
                  <INPUT type="checkbox" id="c1" class="" name="chk1" value="2" 
                   <%= checkbox.chk1['2'] %>>Begining
                  <INPUT type="checkbox" id="c1" class="" name="chk1" value="3" 
                   <%= checkbox.chk1['3'] %>>Complete
                </td>
              </tr>
              <tr>
                <th>Member No</th>
                <td>
                  <INPUT type="text" id="lotn" class="STYLE_LOTN" size="8" maxlength="8" 
                   placeholder="prefix search" name="lotn" 
                   value="<%= text.lotn %>" tabindex = "-1">
                </td>
                <th></th>
                <td></td>
              </tr>
              <tr>
                <th>Stor area</th>
                <td>
                  <select name="area">
                    <option value=""></option><!--dmy-->
                    <% for (var i=0,max=options.length; i < max; i++ ) { %>
                      <option value="<%= options[i].area %>" <%= options[i].selected %>>
                        <%= options[i].area_name %>
                      </option>
                    <% } %>
                  </select>
                </td>
                <th></th>
                <td></td>
              </tr>
            </table>
        </div> <!-- ordrList -->

        <br/>

        <div id="inqList2">
            <table>
                <col width="50">
                <col width="180">
                <col width="100">
                <col width="100">
                <col width="80">
                <col width="">
                <tr>
                    <th></th>
                    <th>Order No</th>
                    <th>Member No</th>
                    <th>Cary qty</th>
                    <th>Condition</th>
                    <th>Remark</th>
                </tr>

                <% for (var i = 0, max=tables.length  ; i < max ; i++ ) { %>
                <tr>
                    <td>
                    <% if (tables[i].radio == "1") { %>
                      <input type='radio' name='rad01' value="<%= tables[i].ordr %>"
                         <%= tables[i].radio_checked %>>
                    <% } %>
                    </td>
                    <td><%= tables[i].ordr %></td>
                    <td><%= tables[i].lotn %></td>
                    <td><%= tables[i].sqty %></td>
                    <td><%= tables[i].stat_str %></td>
                    <td><%= tables[i].mem1 %></td>
                </tr>
                <% } %>

            </table>
        </div><!--inqList-->

        <br/>

		<h2>Order No:<%= tables2_head.ordr %></h2>
		<h2>Starting time:<%= tables2_head.start %></h2>

        <div id="inqList2">
            <table>
                <col width="180">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="">
                <tr>
                    <th>Locker No</th>
                    <th>Tag No</th>
                    <th>Day of deposit</th>
                    <th>Period</th>
                    <th>Remark</th>
                </tr>

                <% for (var i = 0, max=tables2.length  ; i < max ; i++ ) { %>
                <tr>
                    <td><%= tables2[i].locn_name %></td>
                    <td><%= tables2[i].part %></td>
                    <td><%= tables2[i].part_name %></td>
                    <td><%= tables2[i].sqty %></td>
                    <td><%= tables2[i].mem1 %></td>
                </tr>
                <% } %>

            </table>
        </div><!--inqList-->

        <div id="step_info"></div>


    </div> <!--mainx-->

    <div id="sub">
        <section id="createMail">
            <p><a href="#">Check Out</a></p>
        </section>
        <section id="folderList" class='regist'>
            <ul>
            <li><INPUT type="hidden" id="funcPB" name="send_xxx" value="FUNC"></li>
            <li class="current"><a href="#" onclick="document.getElementById('funcPB').name='send_add';
                                     document.main_form.submit();">Begin</a></li>
            <!--li><a href="#" onclick="document.getElementById('funcPB').name='send_del';
                                     document.main_form.submit();"> Interruption</a></li-->
            <li><a href="#" onclick="document.getElementById('funcPB').name='send_iqy';
                                     document.main_form.submit();">Refresh</a></li>
            <!--li><a href="#">Instruction</a></li-->
            </ul>
        </section>
    </div> <!-- sub -->

    </form>
</div> <!--contents-->
