<section id="contents_rpt">
	<div class="lead">
		<h1> Customer No C20120001</h1>
		<p>You can confirm the details that have been established.</p>
	</div>
<section class="detailList">
		<h2>12/Jul/2012 Details of the stock</h2>
		<table>
			<thead>
				<tr>
					<th>Arrival date</th>
					<th>Locker No</th>
					<th>Tag No</th>
					<th>Order No</th>
					<th>Memo</th>
					<th>Qntity</th>

				</tr>
			</thead>
			<tbody>
			  <tr>
			    <% var sum=0 %>
			  <% for (var i = 0; i < tab.length; i++) { %>
			     <TD><%= tab[i].date %></TD>
			     <TD><%= tab[i].pname %></TD>
			     <TD><%= tab[i].pcode %></TD>
			     <TD align=center><%= tab[i].odno %></TD>
			     <TD><%= tab[i].mem1 %></TD>
			     <TD align=right><%= tab[i].sqty %></TD>
			     <% sum += parseInt(tab[i].sqty) %>
			  </TR>   
			  <% } %>

			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">Total amount</td>
					<td><%= sum %></td>

				</tr>
			</tfoot>
		</table>
	</section>
</section>


</body>
</html>
