<!DOCTYPE html>
<html lang="jp">
<head>
<meta charset="utf-8">
<title><% frameNavi.name %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="rockos.co.jp">

<!-- Le styles -->
<link href="/stylesheets/bootstrap/bootstrap.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="/stylesheets/bootstrap/bootstrap-responsive.css" rel="stylesheet">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" 
   href="/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" 
   href="/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" 
   href="/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" 
   href="/images/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/images/ico/favicon.png">

<style type="text/css">
body {
    padding-top: 60px;
    padding-left: 50px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
</style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="/javascriptsi/bootstrap/gi/html5shiv.js"></script>
<![endif]-->
<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51fe493604d6a32f"></script>
<script type="text/javascript">
addthis.layers({
    'theme' : 'transparent',
    'share' : {
        'position' : 'left',
        'numPreferredServices' : 5
    }, 
    'follow' : {
        'services' : [
            {'service': 'facebook', 'id': 'msyaono'},
            {'service': 'twitter', 'id': 'mirokunokokoro'}
        ]
    }  
});
</script>
<!-- AddThis Smart Layers END -->
</head>

<body>
<div class="row">
<div class="logo">
    <div class="col-md-6">
        <a href="/">
            <img src="/images/cstm/workshopmama-mosaic4.png"  height="100" width="500"
            alt="小金井・国分寺・小平のワークショップ情報をお届けします。"/>
        </a>
    </div><!--/col-->
    <div class="col-md-6">
        <% if (frameNavi.signin == "false") { %>
        <form class="navbar-form pull-right" method="get" action="/signin">
            <span class="glyphicon glyphicon-user">
                こんにちはゲストさん</span> 
            <button type="submit" class="btn btn-info" name="kind" value="signin">Sign in</button>
            <button type="submit" class="btn btn-success" name="kind" value="regist">新規登録</button>
        </form>
        <% } else { %>
        <form class="navbar-form pull-right" method="post" action="/signout">
            <span class="glyphicon glyphicon-user">
                こんにちは</span> <a><%= frameNavi.userid %> さん</a>
            <button type="submit" class="btn btn-info" name="signout" value="signout">Sign out</button>
        </form>

        <% } %>

    </div><!--/col-->
</div><!--/logo-->
</div><!--/row-->
<div class="row">
   <div class="adwords">
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-4104980544511181";
      /* sub_link_md */
      google_ad_slot = "4896693156";
      google_ad_width = 468;
      google_ad_height = 15; 
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
   </div><!--/adwords-->
</div><!--/row-->
<!--
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!--
    <div class="navbar-header">
    -->
    <div class="navbar-inner">
        <button type="button" class="navbar-toggle" 
            data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= frameNavi.name %></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <% for (var i = 0, max = frameNavi.topMenu.length; i < max; i++) { %>
            <li class="dropdown">
            <% if (frameNavi.topMenu[i].subMenu.length) { %>
            <a href="<%= frameNavi.topMenu[i].href %>" 
                class="dropdown-toggle" data-toggle="dropdown">
                <%= frameNavi.topMenu[i].name %><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <% for (var j = 0, 
                maxj = frameNavi.topMenu[i].subMenu.length; j < maxj; j++) { %>
                <li><a href="<%= frameNavi.topMenu[i].subMenu[j].href %>">
                    <%= frameNavi.topMenu[i].subMenu[j].name %></a></li>
                <% } %>
            </ul>
            <% } else { %>
            <a href="<%= frameNavi.topMenu[i].href %>" 
                class="dropdown-toggle" >
                <%= frameNavi.topMenu[i].name %></a>
            <% } %>
            </li>
            <% } %>
            <!--
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" 
                data-toggle="dropdown">会員メニュー <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Workshop 管理</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="nav-header">個人プロファイル</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
            </li>
         -->

        </ul>
     </div>
   </div><!--/.nav-collapse -->
</nav> <!-- nav -->
      
<div class="container">
   <div id="body">
      <%- body %>
   </div>
</div>
<hr>
<nav class="navbar navbar-default " role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">会社概要</a></li>
            <li><a href="#">利用規約</a></li>
            <li><a href="#">プライバシー</a></li>
       </ul>
    </div>
</nav>
<footer>
    <p>&copy; 2013 Rockos co.,ltd. All Rights Reserved</p>
</footer>
<!--
</div> --><!--/.fluid-container-->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap/transition.js"></script>
<script src="/javascripts/bootstrap/alert.js"></script>
<script src="/javascripts/bootstrap/modal.js"></script>
<script src="/javascripts/bootstrap/dropdown.js"></script>
<script src="/javascripts/bootstrap/scrollspy.js"></script>
<script src="/javascripts/bootstrap/tab.js"></script>
<script src="/javascripts/bootstrap/tooltip.js"></script>
<script src="/javascripts/bootstrap/popover.js"></script>
<script src="/javascripts/bootstrap/button.js"></script>
<script src="/javascripts/bootstrap/collapse.js"></script>
<script src="/javascripts/bootstrap/carousel.js"></script>

</body>
</html>

