<% layout('layout') -%>
<%- stylesheet('/stylesheets/cstm/122.css') -%>
<link rel="stylesheet" href="/stylesheets/jquery-ui/jquery-ui-1.9.2.custom.min.css">

<script type="text/javascript" src="/javascripts/gauge.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.gauge.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/d3.v3.min.js"></script>
<script type="text/javascript" src="/javascripts/rcs/libgraph.js"></script>
<script type="text/javascript" src="/javascripts/rcs/libsocket.min.js"></script>
<!--
<script type="text/javascript" src="/javascripts/cstm/min/scr122.min.js"></script>
-->
<script type="text/javascript" src="/javascripts/cstm/scr122.js"></script>

<form name="main_form" method="post" action="/scr/122">
  <input type="hidden" name="clientID" id="clientID" value="" />
  <input type="hidden" name="nameSpace" id="nameSpace" value="" />

  <div id="sub_body">
    <p class=""><a href="#"><%= pageTags.caption %></a></p>
    <ul>
      <li><input type="submit" name="send_iqy" value="<%= pageTags.send_iqy %>"></li>
    </ul>
  </div>

  <div id="main_body">

    <div id="mesg_bar" class="mesg_bar <%= mesg_level_color %>"><%= mesg %></div>

    <table id="main_table">
      <tr>
        <td colspan="4">
          <div id="linegraph01"></div>
        </td>
      </tr>
      <!--
      <tr>
        <td>
          <div id="bargraph02"></div>
        </td>
        <td>
          <div id="bargraph03"></div>
        </td>
        <td>
          <div id="bargraph04"></div>
        </td>
        <td>
        </td>
      </tr>
      -->
      <tr>
        <td>
          <canvas id="gauge02" width="250" height="200"></canvas>
        </td>
        <td>
          <canvas id="gauge03" width="250" height="200"></canvas>
        </td>
        <td>
          <canvas id="gauge04" width="250" height="200"></canvas>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="machineSw">
            <input type="radio" id="machineSw-auto" name="mcsw" 
            <% if(status == 1) { %>
              checked
            <% } %>
            /><label for="machineSw-auto">自動</label>
            <input type="radio" id="machineSw-manu" name="mcsw" 
            <% if(status != 1 && status != 0) { %>
              checked
            <% } %>
            /><label for="machineSw-manu">手動</label>
            <input type="radio" id="machineSw-mnte" name="mcsw" 
            <% if(status == 0) { %>
              checked
            <% } %>
            /><label for="machineSw-mnte">保守</label>
          </div>
        </td>
        <td colspan="2" rowspan="2">
          <div id="slider01Value"><%= accelerator[0] %></div>
          <div id="slider01"></div>
          <div id="slider02Value"><%= accelerator[1] %></div>
          <div id="slider02"></div>
          <div id="slider03Value"><%= accelerator[2] %></div>
          <div id="slider03"></div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <label for="">方角</label><div id="direction01"></div>
        </td>
      </tr>
    </table>
  </div>
</form>

<div id="debugtxt"></div>
