<% layout('layout') -%>
<%- stylesheet('/stylesheets/cstm/122.css') -%>
<link rel="stylesheet" href="/stylesheets/jquery-ui/jquery-ui-1.9.2.custom.min.css">

<script type="text/javascript" src="/javascripts/gauge.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.gauge.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/d3.v3.min.js"></script>
<script type="text/javascript" src="/javascripts/rcs/libgraph.js"></script>
<script type="text/javascript" src="/javascripts/rcs/libsocket.min.js"></script>
<!--
<script type="text/javascript" src="/javascripts/cstm/min/scr122.min.js"></script>
-->
<script type="text/javascript" src="/javascripts/cstm/scr122.js"></script>

<form name="main_form" method="post" action="/scr/122">
  <input type="hidden" name="clientID" id="clientID" value="" />
  <input type="hidden" name="nameSpace" id="nameSpace" value="" />

  <div id="sub_body">
    <p class=""><a href="#"><%= pageTags.caption %></a></p>
    <ul>
      <li><input type="submit" name="send_iqy" value="<%= pageTags.send_iqy %>"></li>
    </ul>
  </div>

  <div id="main_body">

    <div id="mesg_bar" class="mesg_bar <%= mesg_level_color %>"><%= mesg %></div>

    <table id="main_table">
      <tr>
        <td colspan="3">
          <div id="linegraph01"></div>
        </td>
      </tr>
      <!--
      <tr>
        <td>
          <div id="bargraph02"></div>
        </td>
        <td>
          <div id="bargraph03"></div>
        </td>
        <td>
          <div id="bargraph04"></div>
        </td>
        <td>
        </td>
      </tr>
      -->
      <tr>
        <td>
          <canvas id="gauge02" width="200" height="200"></canvas>
        </td>
        <td>
          <canvas id="gauge03" width="200" height="200"></canvas>
        </td>
        <td>
          <canvas id="gauge04" width="200" height="200"></canvas>
        </td>
      </tr>
      <tr>
        <td>
          <div id="slider01Value"><%= accelerator[0] %></div>
          <div id="slider01"></div>
        </td>
        <td>
          <div id="slider02Value"><%= accelerator[1] %></div>
          <div id="slider02"></div>
        </td>
        <td>
          <div id="slider03Value"><%= accelerator[2] %></div>
          <div id="slider03"></div>
        </td>
      </tr>
      <tr>
        <td colspan="2" rowspan="2">
          <div id="machineSw">
            <input type="radio" id="machineSw-auto" name="machsw" 
            <% if(status == 1) { %>
              checked
            <% } %>
            /><label for="machineSw-auto">自動</label>
            <input type="radio" id="machineSw-manu" name="machsw" 
            <% if(status != 1 && status != 0) { %>
              checked
            <% } %>
            /><label for="machineSw-manu">手動</label>
            <input type="radio" id="machineSw-mnte" name="machsw" 
            <% if(status == 0) { %>
              checked
            <% } %>
            /><label for="machineSw-mnte">保守</label>
          </div>
        </td>
        <td colspan="1">
          <div id="machineOL">
            <input type="radio" id="machineOL_ON" name="machol" 
            <% if(status == 1) { %>
              checked
            <% } %>
            /><label for="machineOL_ON">ON</label>
            <input type="radio" id="machineOL_OFF" name="machol" 
            <% if(status != 1 ) { %>
              checked
            <% } %>
            /><label for="machineOL_OFF">OFF</label>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <div id="machineST">
            <input type="radio" id="machineST_BUSY" name="machst" 
            <% if(act == 1) { %>
              checked
            <% } %>
            /><label for="machineST_BUSY">動作中</label>
            <input type="radio" id="machineST_IDLE" name="machst" 
            <% if(act == 0) { %>
              checked
            <% } %>
            /><label for="machineST_IDLE">待機中</label>
            <input type="radio" id="machineST_EROR" name="machst" 
            <% if(act != 1 && act != 0) { %>
              checked
            <% } %>
            /><label for="machineST_EROR">エラー</label>
          </div>
        </td>
      </tr>
    </table>

    <table id="machineView">
      <tr>
        <th>方角</th>
        <td><span class="drcstr"></span><div class="drc"></div></td>
        <th>走行</th>
        <td><div class="run"></div></td>
        <th>昇降</th>
        <td><div class="vat"></div></td>
      </tr>
      <tr>
        <th>故障回数</th>
        <td><div class="num"></div></td>
        <th>走行（累計）</th>
        <td><div class="runs"></div></td>
        <th>昇降（累計）</th>
        <td><div class="vats"></div></td>
      </tr>
    </table>



  </div>
</form>

<div id="debugtxt"></div>
