<% layout('layout') -%>
<div class="container">
   <div class="row">
      <div class="col-md-3">
      <!--Sidebar content-->
      <form>
      <fieldset>
         <legend><span class="glyphicon glyphicon-cutlery"></span>キッチンアイランド</legend>
         <span class="help-block">地域を選択できます。</span>
         <!--
         <label>Label name</label>
         <input type="text" placeholder="Type something…">
         <label class="checkbox">
            <input type="checkbox"> Check me out
         </label>
         <label>エリア指定</label>
         -->
         <select multiple="multiple" size="4" name="sel_area">
         <% for (var i=0, max = pageNavi.area.length; i < max; i++) { %>
         <option value="<%= pageNavi.area[i].val %>"><%= pageNavi.area[i].name %></option>
         <% } %>
         </select>
         <span class="help-block">種別を選択できます。</span>
         <select multiple="multiple" size="4" name="sel_area">
         <% for (var i=0, max = pageNavi.catg.length; i < max; i++) { %>
         <option value="<%= pageNavi.catg[i].val %>"><%= pageNavi.catg[i].name %></option>
         <% } %>
         </select>
         <button type="button" class="btn btn-primary">選択</button>

      </fieldset>
      </form>
      </div>
      
      <div class="col-md-9">
      <!--Body content-->
      <table class="table table-striped table-bordered table-condensed">
      <thead>
         <tr><th>概要</th><th>紹介文</th><th>場所</th><th>URL</th></tr>
      </thead>
      <tbody>
         <% for (var i=0, max = pageNavi.wslist.length; i < max; i++) { %>
         <tr>
            <td><span class="badge badge-success"><%= i+1 %></span>
            <%= pageNavi.wslist[i].name %></td>
            <td><%= pageNavi.wslist[i].desc %></td>
            <td><%= pageNavi.wslist[i].place %></td>
            <td><a href="<%= pageNavi.wslist[i].href %>">link</a></td>
         </tr>
         <% } %>
      </tbody>
      </table>
      </div>
   </div>
</div>
