<% layout('layout') -%>
<div class="container">
   <div class="row">
      <div class="col-md-3">
      <!--Sidebar content-->
      <form role="form">
      <fieldset>
         <legend><span class="glyphicon glyphicon-pushpin"></span>市民掲示板</legend>
         <span class="help-block">地域を選択できます。</span>
         <select multiple="multiple" size="4" name="sel_area">
         <% for (var i=0, max = pageNavi.area.length; i < max; i++) { %>
         <option value="<%= pageNavi.area[i].val %>"><%= pageNavi.area[i].name %></option>
         <% } %>
         </select>
         <span class="help-block">種別を選択できます。</span>
         <select multiple="multiple" size="4" name="sel_area">
         <% for (var i=0, max = pageNavi.catg.length; i < max; i++) { %>
         <option value="<%= pageNavi.catg[i].val %>"><%= pageNavi.catg[i].name %></option>
         <% } %>
         </select>
         <button type="button" class="btn btn-primary">選択</button>

         <div class="dropdown">
         <!-- Link or button to toggle dropdown -->
         <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
         <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
         <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
         <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
         <li role="presentation" class="divider"></li>
         <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
         </ul>
         </div>

      </fieldset>
      </form>
      </div>

      <div class="col-md-9">
      <div class="row">
         <% for (var i=0, max = pageNavi.board.length; i < max; i++) { %>
            <div class="col-md-3">
               <h3><%= pageNavi.board[i].title %></h3>
               <p>掲示期限: <%= pageNavi.board[i].limit %></p>
               <p><%= pageNavi.board[i].cont %></p>
               <p><a class="btn" href="<%= pageNavi.board[i].href %>">詳細 &raquo;</a></p>
            </div>
         <% } %>
      
      </div><!-- row -->
      </div><!-- span9 -->
      </div>
   </div>
</div>
