<% layout('layout') -%>
<%- stylesheet('/stylesheets/cstm/302.css') -%>

<form name="main_form" method="post" action="/scr/302">

  <div id="sub_body">
    <p class=""><a href="#">計画出庫</a></p>
    <ul>
      <% if( step=="0" || step=="1" ) { %>
      <li><input type="submit" class="send" name="send_iqy2" value="表示"></li>
      <% } %>

      <% if( step=="1" ) { %>
      <li><input type="submit" class="send" name="send_add" value="出庫 確定" />
      <% } %>
    </ul>
  </div>

  <div id="main_body">
    <div class="mesg_bar">
      <span class="<%= mesg_level_color %>"><%= mesg %></span>
    </div>

    <div class="cond302">
      <ul>
        <li>
          <label for="sel1">会員番号</label>
            <select name="sel1" id="sel1">
              <option value=""></option><!--dmy-->
              <% for (var i=0,max=select.opt1.length; i < max; i++ ) { %>
                <option value="<%= select.opt1[i].value %>" <%= select.opt1[i].selected %>>
                  <%= select.opt1[i].dsp %>
                </option>
              <% } %>
            </select>
        </li>
      </ul>
    </div>

    <div class="list302">
    <hr style="width:852px;float:left;">
    </div>

    <div class="list302">
      <h1>
        <label>　</label>
        <label>予約ＩＤ</label>
        <label>予定日</label>
        <label>会員名</label>
        <label>備考</label>
      </h1>
      <% if ( step=="1" ) { %>
      <% for (var i = 0, max = table.tab2.length; i < max; i++) { %>
      <section>
        <header>
          <label>
            <% if (table.tab2[i].chk1.exist == "1") { %>
              <input type='checkbox' name='tab2_chk' 
                value='<%= table.tab2[i].chk1.val %>' <%= table.tab2[i].chk1.on %>> 
            <% } %>
          </label>
          <label><%= table.tab2[i].col1 %></label>
          <label><%= table.tab2[i].col2 %></label>
          <label><%= table.tab2[i].col3 %></label>
          <label><%= table.tab2[i].col4 %></label>
        </header>
        <div>
          <table>
            <thead>
            <tr>
              <th>番地</th>
              <th>品コード</th>
              <th>品名</th>
              <th>タグNo</th>
              <th>数量</th>
              <th>預入日</th>
              <th>お客様メモ</th>
            </tr>
            </thead>

            <tbody>
            <% for (var j = 0, max2 = table.tab2[i].tab3.length; j < max2; j++) { %>
            <tr>
              <td class="c22"><%= table.tab2[i].tab3[j].col1 %></td>
              <td class="c23"><%= table.tab2[i].tab3[j].col2 %></td>
              <td class="c24"><%= table.tab2[i].tab3[j].col3 %></td>
              <td class="c25"><%= table.tab2[i].tab3[j].col4 %></td>
              <td class="c26"><%= table.tab2[i].tab3[j].col5 %></td>
              <td class="c27"><%= table.tab2[i].tab3[j].col6 %></td>
              <td class="c28"><%= table.tab2[i].tab3[j].col7 %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </section>
      <% } %>
      <% } %>
    </div>


    <% if ( table.dsp["tab1"] == "1" ) { %>
    <table class="list301">
      <colgroup>
        <col span="1" class="c21">
        <col span="1" class="c22">
        <col span="1" class="c23">
        <col span="1" class="c24">
        <col span="1" class="c25">
        <col span="1" class="c26">
        <col span="1" class="c27">
        <col span="1" class="c28">
        <col span="1" class="c29">
        <thead>
        <tr>
          <th></th>
          <th>番地</th>
          <th>品コード</th>
          <th>品名</th>
          <th>タグNo</th>
          <th>数量</th>
          <th>預入日</th>
          <th>お客様メモ</th>
          <th>予約</th>
        </tr>
        </thead>

        <tbody>
        <% for (var i = 0, max = table.tab1.length; i < max; i++) { %>
        <tr>
          <td class="c21">
          <% if (table.tab1[i].chk1.exist == "1") { %>
            <input type='checkbox' name='tab1_chk' 
              value='<%= table.tab1[i].chk1.value %>' <%= table.tab1[i].chk1.on %>> 
          <% } %>
          </td>
          <td class="c22"><%= table.tab1[i].col1 %></td>
          <td class="c23"><%= table.tab1[i].col2 %></td>
          <td class="c24"><%= table.tab1[i].col3 %></td>
          <td class="c25"><%= table.tab1[i].col4 %></td>
          <td class="c26"><%= table.tab1[i].col5 %></td>
          <td class="c27"><%= table.tab1[i].col6 %></td>
          <td class="c28"><%= table.tab1[i].col7 %></td>
          <td class="c29"><%= table.tab1[i].col8 %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <% } %>

  </div>

</form>
