<% layout('layout') -%>
<%- stylesheet('/stylesheets/cstm/303.css') -%>

<form name="main_form" method="post" action="/scr/303">

  <div id="sub_body">
    <p class=""><a href="#">例外出庫</a></p>
    <ul>
      <% if ( step=="0" || step=="1" ) { %>
      <li><input type="submit" class="send" name="send_iqy1" value="表示"></li>
      <% } %>
      <% if ( step=="1" ) { %>
      <li><input type="submit" class="send" name="send_add" value="出庫 確定" />
      <% } %>
    </ul>
  </div>

  <div id="main_body">
    <div class="mesg_bar">
      <span class="<%= mesg_level_color %>"><%= mesg %></span>
    </div>

    <div class="cond303">
      <ul>
        <li>
          <label for="sel1">会員番号</label>
            <select name="sel1" id="sel1">
              <option value=""></option><!--dmy-->
              <% for (var i=0,max=select.opt1.length; i < max; i++ ) { %>
                <option value="<%= select.opt1[i].value %>" <%= select.opt1[i].selected %>>
                  <%= select.opt1[i].dsp %>
                </option>
              <% } %>
            </select>
        </li>
      </ul>
    </div>

    <% if ( step=="1" ) { %>
      <table class="list303">
        <thead>
        <tr>
          <th></th>
          <th>番地</th>
          <th>品コード</th>
          <th>品名</th>
          <th>タグNo</th>
          <th>数量</th>
          <th>預入日</th>
          <th>お客様メモ</th>
          <th>予約</th>
        </tr>
        </thead>

        <tbody>
        <% for (var i = 0, max = table.tab1.length; i < max; i++) { %>
        <tr>
          <td>
          <% if (table.tab1[i].chk1.exist == "1") { %>
            <input type='checkbox' name='tab1_chk' 
              value='<%= table.tab1[i].chk1.value %>' <%= table.tab1[i].chk1.on %>> 
          <% } %>
          </td>
          <td><%= table.tab1[i].col1 %></td>
          <td><%= table.tab1[i].col2 %></td>
          <td><%= table.tab1[i].col3 %></td>
          <td><%= table.tab1[i].col4 %></td>
          <td><%= table.tab1[i].col5 %></td>
          <td><%= table.tab1[i].col6 %></td>
          <td><%= table.tab1[i].col7 %></td>
          <td><%= table.tab1[i].col8 %></td>
        </tr>
        <% } %>
        </tbody>
      </table>
    <% } %>

  </div>

</form>
