<% layout('layout_print') -%>
<%- stylesheet('/stylesheets/cstm/751.css') -%>

<% var BR_PAGE=15; %><!--データ15で改ページ-->
<% var x=table.tab1.length%BR_PAGE; %>
<% var max_page=(table.tab1.length-x)/BR_PAGE; %>
<% if( x>0 ) { max_page++; } %>
<% var i=0; %>

<% for (var p=1; p<=max_page; p++) { %>

<div class="scr751">

    <div class="header751">
        <h1>棚卸　在庫一覧</h1>
        <q>2012/10/10 page <%= p %>/<%= max_page %></q>
    </div>

    <table class="list751">
        <thead>
        <tr>
          <th>確認印</th>
          <th>番地</th>
          <th>会員番号<br>会員名</th>
          <th>品コード<br>品名</th>
          <th>タグNo</th>
          <th>数量</th>
          <th>預入日</th>
          <th>お客様メモ</th>
        </tr>
        </thead>

        <tbody>
        <% for ( var maxi=table.tab1.length; i<BR_PAGE*p && i<maxi; i++) { %>
        <tr>
          <td></td>
          <td><%= table.tab1[i].col1 %></td>
          <td><%= table.tab1[i].col2 %><br><%= table.tab1[i].col3 %></td>
          <td><%= table.tab1[i].col4 %><br><%= table.tab1[i].col5 %></td>
          <td><%= table.tab1[i].col6 %></td>
          <td><%= table.tab1[i].col7 %></td>
          <td><%= table.tab1[i].col8 %></td>
          <td><%= table.tab1[i].col9 %></td>
        </tr>
        <% } %>
        </tbody>
    </table>

</div>
<% } %>
