<% layout('layout') -%>
<%- stylesheet('/stylesheets/cstm/903.css') -%>

<%- stylesheet('/stylesheets/jquery-ui/jquery-ui-1.9.2.custom.min.css') -%>
<script type="text/javascript" src="/javascripts/jquery-ui-1.9.2.custom.min.js"></script>

<script type="text/javascript" src="/javascripts/rcs/libsocket.min.js"></script>
<script type="text/javascript">
var socket = io.connect("/error");
sockEventShowError(socket);

var socket903 = io.connect("/scr/903");

socket903.on("message_bar", function (data) {
    err = document.getElementById("mesg_bar");
    err.className = "mesg_bar " + data.color;
    err.innerText = data.mesg;
});

socket903.on("buttonEvent_01", function(data) {
    for (var key in data) {
        if (key == 'value_v') {
            $('#opeMachine tbody tr:nth-child(3) td:nth-child(4)').html(data[key]);
        }
        if (key == 'value_h') {
            $('#opeMachine tbody tr:nth-child(4) td:nth-child(2)').html(data[key]);
        }
        if (key == 'limit') {
            if (data.move == 1) {
                if (data.limit == 1) {
                    $('#opeMachine tbody tr:nth-child(1) td:nth-child(3) div').addClass("limit");
                } else {
                    $('#opeMachine tbody tr:nth-child(1) td:nth-child(3) div').removeClass("limit");
                }
            }
            if (data.move == 2) {
                if (data.limit == 1) {
                    $('#opeMachine tbody tr:nth-child(6) td:nth-child(3) div').addClass("limit");
                } else {
                    $('#opeMachine tbody tr:nth-child(6) td:nth-child(3) div').removeClass("limit");
                }
            }
            if (data.move == 4) {
                if (data.limit == 1) {
                    $('#opeMachine tbody tr:nth-child(3) td:nth-child(1) div').addClass("limit");
                } else {
                    $('#opeMachine tbody tr:nth-child(3) td:nth-child(1) div').removeClass("limit");
                }
            }
            if (data.move == 8) {
                if (data.limit == 1) {
                    $('#opeMachine tbody tr:nth-child(3) td:nth-child(6) div').addClass("limit");
                } else {
                    $('#opeMachine tbody tr:nth-child(3) td:nth-child(6) div').removeClass("limit");
                }
            }
        }
        if (key == 'color') {
            if (data.move == 1) {
                if (data.color == 1) {
                    $('#opeMachine #craneUp').addClass("move");
                } else {
                    $('#opeMachine #craneUp').removeClass("move");
                }
            }
            if (data.move == 2) {
                if (data.color == 1) {
                    $('#opeMachine #craneDown').addClass("move");
                } else {
                    $('#opeMachine #craneDown').removeClass("move");
                }
            }
            if (data.move == 4) {
                if (data.color == 1) {
                    $('#opeMachine #craneFore').addClass("move");
                } else {
                    $('#opeMachine #craneFore').removeClass("move");
                }
            }
            if (data.move == 8) {
                if (data.color == 1) {
                    $('#opeMachine #craneBack').addClass("move");
                } else {
                    $('#opeMachine #craneBack').removeClass("move");
                }
            }
        }
    }/* for(key in data) */
});

socket903.on("buttonEvent_02", function(data) {
    for (var key in data) {
        if (key == 'value_h') {
            $('#opeMachine-2 tbody tr:nth-child(1) td:nth-child(4)').html(data[key]);
        }
        if (key == 'limit') {
            if (data.move == 1) {
                if (data.limit == 1) {
                    $('#opeMachine-2 tbody tr:nth-child(1) td:nth-child(1) div').addClass("limit");
                } else {
                    $('#opeMachine-2 tbody tr:nth-child(1) td:nth-child(1) div').removeClass("limit");
                }
            }
            if (data.move == 2) {
                if (data.limit == 1) {
                    $('#opeMachine-2 tbody tr:nth-child(1) td:nth-child(6) div').addClass("limit");
                } else {
                    $('#opeMachine-2 tbody tr:nth-child(1) td:nth-child(6) div').removeClass("limit");
                }
            }
        }
        if (key == 'color') {
            if (data.move == 1) {
                if (data.color == 1) {
                    $('#opeMachine-2 #cartFore').addClass("move");
                } else {
                    $('#opeMachine-2 #cartFore').removeClass("move");
                }
            }
            if (data.move == 2) {
                if (data.color == 1) {
                    $('#opeMachine-2 #cartBack').addClass("move");
                } else {
                    $('#opeMachine-2 #cartBack').removeClass("move");
                }
            }
        }
    }/* for(key in data) */
});

function debugXp(str) {
    $("#debugtxt").html(
        $("#debugtxt").html() + str + "<br>");
};

$(function() {
    /* on loading */
    $("#craneUp").bind( {
        "mousedown": function() {
            socket903.emit("buttonEvent_01", {
                "action": "UP"
                ,"event": "ON"
            });
            //debugXp("Up ON");
        }
        ,"mouseup": function() {
            socket903.emit("buttonEvent_01", {
                "action": "UP"
                ,"event": "OFF"
            });
            //debugXp("Up OFF");
        }
    });
    $("#craneDown").bind( {
        "mousedown": function() {
            socket903.emit("buttonEvent_01", {
                "action": "DOWN"
                ,"event": "ON"
            });
            //debugXp("Down ON");
        }
        ,"mouseup": function() {
            socket903.emit("buttonEvent_01", {
                "action": "DOWN"
                ,"event": "OFF"
            });
            //debugXp("Down OFF");
        }
    });
    $("#craneFore").bind( {
        "mousedown": function() {
            socket903.emit("buttonEvent_01", {
                "action": "FORE"
                ,"event": "ON"
            });
            //debugXp("Left ON");
        }
        ,"mouseup": function() {
            socket903.emit("buttonEvent_01", {
                "action": "FORE"
                ,"event": "OFF"
            });
            //debugXp("Left OFF");
        }
    });
    $("#craneBack").bind( {
        "mousedown": function() {
            socket903.emit("buttonEvent_01", {
                "action": "BACK"
                ,"event": "ON"
            });
            //debugXp("Right ON");
        }
        ,"mouseup": function() {
            socket903.emit("buttonEvent_01", {
                "action": "BACK"
                ,"event": "OFF"
            });
            //debugXp("Right OFF");
        }
    });

    $("#cartFore").bind( {
        "mousedown": function() {
            socket903.emit("buttonEvent_02", {
                "action": "FORE"
                ,"event": "ON"
            });
        }
        ,"mouseup": function() {
            socket903.emit("buttonEvent_02", {
                "action": "FORE"
                ,"event": "OFF"
            });
        }
    });
    $("#cartBack").bind( {
        "mousedown": function() {
            socket903.emit("buttonEvent_02", {
                "action": "BACK"
                ,"event": "ON"
            });
        }
        ,"mouseup": function() {
            socket903.emit("buttonEvent_02", {
                "action": "BACK"
                ,"event": "OFF"
            });
        }
    });

});

</script>

<form name="main_form" method="post" action="/scr/903">
  <input type="hidden" name="clientID" id="clientID" value="" />
  <input type="hidden" name="nameSpace" id="nameSpace" value="" />

  <div id="sub_body">
    <p class=""><a href="#">機械操作</a></p>
    <ul>
      <li>
        <input type="submit" name="send_iqy" value="表示" />
      </li>
  </div>

  <div id="main_body">
    <div id="mesg_bar" class="mesg_bar <%= mesg_level_color %>"><%= mesg %></div>


    <table id="opeMachine">
      <caption>クレーン
        <select name="crane">
          <option value="1">１号機</option>
          <option value="2">２号機</option>
          <option value="3">３号機</option>
          <option value="4">４号機</option>
        </select>
      </caption>

      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td colspan="2">
          <div
          <% if (machineView.v >= machineView.limit_def.up) { %>
              <%= "class='limit'" %>
          <% } %>
           >上限</div>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="2"><button type="button" id="craneUp" name="craneUp">上昇</button></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2">
          <div
          <% if (machineView.h >= machineView.limit_def.fr) { %>
              <%= "class='limit'" %>
          <% } %>
           >限界</div>
        </td>
        <td rowspan="2"><button type="button" id="craneFore" name="craneFore">前進</button></td>
        <td>昇降</td>
        <td><%= machineView.v %></td>
        <td rowspan="2"><button type="button" id="craneBack" name="craneBack">後退</button></td>
        <td rowspan="2">
          <div
          <% if (machineView.h <= machineView.limit_def.bk) { %>
              <%= "class='limit'" %>
          <% } %>
           >限界</div>
        </td>
      </tr>
      <tr>
        <td>走行</td>
        <td><%= machineView.h %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="2"><button type="button" id="craneDown" name="craneDown">下降</button></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="2">
          <div
          <% if (machineView.v <= machineView.limit_def.dw) { %>
              <%= "class='limit'" %>
          <% } %>
           >下限</div>
        </td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>


    <table id="opeMachine-2">
      <caption>台車
        <select name="crane">
          <option value="1">１号機</option>
          <option value="2">２号機</option>
          <option value="3">３号機</option>
          <option value="4">４号機</option>
        </select>
      </caption>
      <tbody>
      <tr>
        <td>
          <div
          <% if (machineView2.h >= machineView2.limit_def.fr) { %>
              <%= "class='limit'" %>
          <% } %>
           >限界</div>
        </td>
        <td><button type="button" id="cartFore" name="cartFore">前進</button></td>
        <td>走行</td>
        <td><%= machineView2.h %></td>
        <td><button type="button" id="cartBack" name="cartBack">後退</button></td>
        <td>
          <div
          <% if (machineView2.h <= machineView2.limit_def.bk) { %>
              <%= "class='limit'" %>
          <% } %>
           >限界</div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</form>

<div id="debugtxt"></div>
