<% layout('layout') -%>
<%- stylesheet('/stylesheets/cstm/903.css') -%>

<%- stylesheet('/stylesheets/jquery-ui/jquery-ui-1.9.2.custom.min.css') -%>
<script type="text/javascript" src="/javascripts/jquery-ui-1.9.2.custom.min.js"></script>

<script type="text/javascript" src="/javascripts/rcs/libsocket.min.js"></script>
<script type="text/javascript" src="/javascripts/cstm/min/scr903.min.js"></script>

<form name="main_form" method="post" action="/scr/903">
  <input type="hidden" name="clientID" id="clientID" value="" />
  <input type="hidden" name="nameSpace" id="nameSpace" value="" />

  <div id="sub_body">
    <p class=""><a href="#">機械操作</a></p>
    <ul>
      <li>
        <input type="submit" name="send_iqy" value="表示" />
      </li>
  </div>

  <div id="main_body">
    <div id="mesg_bar" class="mesg_bar <%= mesg_level_color %>"><%= mesg %></div>


    <table id="opeMachine">
      <caption>クレーン
        <select name="crane">
          <option value="1">１号機</option>
          <option value="2">２号機</option>
          <option value="3">３号機</option>
          <option value="4">４号機</option>
        </select>
      </caption>

      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td colspan="2">
          <div
          <% if (machineView.v >= machineView.limit_def.up) { %>
              <%= "class='limit'" %>
          <% } %>
           >上限</div>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="2"><button type="button" id="craneUp" name="craneUp">上昇</button></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2">
          <div
          <% if (machineView.h >= machineView.limit_def.fr) { %>
              <%= "class='limit'" %>
          <% } %>
           >限界</div>
        </td>
        <td rowspan="2"><button type="button" id="craneFore" name="craneFore">前進</button></td>
        <td>昇降</td>
        <td><%= machineView.v %></td>
        <td rowspan="2"><button type="button" id="craneBack" name="craneBack">後退</button></td>
        <td rowspan="2">
          <div
          <% if (machineView.h <= machineView.limit_def.bk) { %>
              <%= "class='limit'" %>
          <% } %>
           >限界</div>
        </td>
      </tr>
      <tr>
        <td>走行</td>
        <td><%= machineView.h %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="2"><button type="button" id="craneDown" name="craneDown">下降</button></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="2">
          <div
          <% if (machineView.v <= machineView.limit_def.dw) { %>
              <%= "class='limit'" %>
          <% } %>
           >下限</div>
        </td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>


    <table id="opeMachine-2">
      <caption>台車
        <select name="crane">
          <option value="1">１号機</option>
          <option value="2">２号機</option>
          <option value="3">３号機</option>
          <option value="4">４号機</option>
        </select>
      </caption>
      <tbody>
      <tr>
        <td>
          <div
          <% if (machineView2.h >= machineView2.limit_def.fr) { %>
              <%= "class='limit'" %>
          <% } %>
           >限界</div>
        </td>
        <td><button type="button" id="cartFore" name="cartFore">前進</button></td>
        <td>走行</td>
        <td><%= machineView2.h %></td>
        <td><button type="button" id="cartBack" name="cartBack">後退</button></td>
        <td>
          <div
          <% if (machineView2.h <= machineView2.limit_def.bk) { %>
              <%= "class='limit'" %>
          <% } %>
           >限界</div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</form>

<div id="debugtxt"></div>
