<% layout('layout') -%>
<%- stylesheet('/stylesheets/cstm/904.css') -%>

<%- stylesheet('/stylesheets/jquery-ui/jquery-ui-1.9.2.custom.min.css') -%>
<script type="text/javascript" src="/javascripts/jquery-ui-1.9.2.custom.min.js"></script>

<script type="text/javascript" src="/javascripts/rcs/libsocket.min.js"></script>
<script type="text/javascript" src="/javascripts/cstm/min/scr904.min.js"></script>

<form name="main_form" method="post" action="/scr/904">
  <input type="hidden" name="clientID" id="clientID" value="" />
  <input type="hidden" name="nameSpace" id="nameSpace" value="" />

  <!--パズルのデフォルト設定-->
  <input type="hidden" name="panelsize" id="panelsize" value="<%= panelSize %>" /><!--S M L XL-->
  <input type="hidden" name="xMax" id="xMax" value="<%= xMax %>" />
  <input type="hidden" name="yMax" id="yMax" value="<%= yMax %>" />
  <!--ここから下を追加することによりパネル枚数が決定する-->
  <!--name=[dontMove or actPanel] idはユニーク x,yもユニーク-->
  <% for (var i = 0, imax = defPanel.length; i < imax; i++) { %>
      <input type="hidden" name="<%= defPanel[i].type %>" 
      id="<%= defPanel[i].id %>" value="<%= defPanel[i].zaik %>" 
      x="<%= defPanel[i].x %>" y="<%= defPanel[i].y %>" />
  <% } %>
  <!----    ---->

  <div id="sub_body">
    <p class=""><a href="#">パズル</a></p>
    <ul>
      <li>
        <input type="submit" name="send_iqy" value="表示" />
      </li>
  </div>

  <div id="main_body">
    <div id="mesg_bar" class="mesg_bar <%= mesg_level_color %>"><%= mesg %></div>

    <div class="caption">パズル</div>

    <div class="puzzle">
        <!-- パズル描画領域 -->    
    </div>



  </div>

</form>

<div id="debugtxt"></div>

