<% layout('layout') -%>
<%- stylesheet('/stylesheets/cstm/901.css') -%>

<script type="text/javascript" src="/javascripts/rcs/libsocket.min.js"></script>
<script type="text/javascript" src="/javascripts/cstm/min/scr901.min.js"></script>

<form name="main_form" method="post" action="/scr/901" autocomplete="off">
  <input type="hidden" name="clientID" id="clientID" value="" />
  <input type="hidden" name="nameSpace" id="nameSpace" value="" />

  <div id="sub_body">
    <input type="submit" name="send_iqy" value="表示" />

    <span>ポート番号</span>
    <input type="text" name="port" id="port" value="<%= text.port %>" maxlength="5" 
         onfocus="setTimeout(function(){$('input[name=port]').select()},0);"
    <% if (step=='1') { %>
    readonly
    <% } %>
    />

    <% if (step=='0') { %>
    <input type="submit" name="send_conn" value="接続" />
    <% } %>

    <% if (step=='1') { %>
    <input type="submit" name="send_disconn" value="切断" />
    <% } %>

    <input type="submit" name="send_end" value="終了" />

    <fieldset>
        <legend>受信レジスタ</legend>
        <p>レジスタ:<span id="recv_dreg"></span></p>
        <p>２進:<span id="recv_dreg_val2"></span></p>
        <p>１０進:<span id="recv_dreg_val10"></span></p>
        <p>１６進:<span id="recv_dreg_val16"></span></p>
    </fieldset>

    <fieldset>
        <legend>送信レジスタ</legend>
        <p>レジスタ:<input type="text" name="send_dreg" id="send_dreg" value="" readonly></p>
        <p>２進:<input type="radio" name="radix" id="radix_bin" value="2" onclick="radixChange(this)"></p>
        <p>１０進:<input type="radio" name="radix" id="radix_dec" value="10" onclick="radixChange(this)"></p>
        <p>１６進:<input type="radio" name="radix" id="radix_hex" value="16" onclick="radixChange(this)"></p>
        <p><input type="text" name="send_dreg_value" id="send_dreg_value" maxlength="16" 
           value="" onfocus="setTimeout(function(){$('input[name=send_dreg_value]').select()},0);"></p>
        <% if (step=='1') { %>
        <input type="submit" name="send_regset" value="設定" />
        <% } %>
    </fieldset>

  </div>

  <div id="main_body">
    <div id="mesg_bar" class="mesg_bar <%= mesg_level_color %>"><%= mesg %></div>

    <div id="reg">
      <div id="recv_reg">
        <div class="caption">受信レジスタ</div>
        <table>
          <tr>
            <th></th>
            <% for(var j = 0, jmax = 10; j < jmax; j++) { %>
            <th><%= j %></td>
            <% } /*D-reg 1 loop */ %>
          </tr>
          <% for(var i = 0, imax = table.recv.length; i < imax; i++) { %>
          <tr>
            <th><%= 'D'+('0000' + table.recv[i].Dreg10 * 10).slice(-4) %></th>
            <% for(var j = 0, jmax = table.recv[i].Dreg1.length; j < jmax && j < 10; j++) { %>
            <td id="<%= 'D'+('0000' + (table.recv[i].Dreg10 * 10 + j)).slice(-4) %>" onclick="recvOn(this)">
              <%= ('0000'+table.recv[i].Dreg1[j].toString(16).toUpperCase()).slice(-4) %></td>
            <% } /*D-reg 1 loop */ %>
          </tr>
          <% } /* D-reg loop */ %>
        </table>
      </div>

      <div id="send_reg">
        <div class="caption">送信レジスタ</div>
        <table>
          <tr>
            <th></th>
            <% for(var j = 0, jmax = 10; j < jmax; j++) { %>
            <th><%= j %></td>
            <% } /*D-reg 1 loop */ %>
          </tr>
          <% for(var i = 0, imax = table.send.length; i < imax; i++) { %>
          <tr>
            <th><%= 'D'+('0000'+table.send[i].Dreg10*10).slice(-4) %></th>
            <% for(var j = 0, jmax = table.send[i].Dreg1.length; j < jmax && j < 10; j++) { %>
            <td id="<%= 'D'+('0000' + (table.send[i].Dreg10 * 10 + j)).slice(-4) %>" onclick="sendOn(this)"
              ><%= ('0000'+table.send[i].Dreg1[j].toString(16).toUpperCase()).slice(-4) %></td>
            <% } /*D-reg 1 loop */ %>
          </tr>
          <% } /* D-reg loop */ %>
        </table>

      </div>
    </div>

  </div>

</form>

<div id="debugtxt"></div>
